<ion-card class="recipe-card">
  <img [src]="image" [alt]="title" class="recipe-image" />

  <ion-card-header>
    <ion-card-title>{{ title }}</ion-card-title>
  </ion-card-header>

  <ion-card-content class="card-actions">
    <ion-button size="small" [routerLink]="['/recipe-details', id]">
      {{ detailsLabel }}
    </ion-button>

    <ion-button *ngIf="showRemove" fill="clear" color="danger" 
      (click)="onRemoveClick($event)">
      <ion-icon name="trash" slot="start"></ion-icon>
      <ion-label>Remove from favourites</ion-label>
    </ion-button>
  </ion-card-content>
</ion-card>