


.recipe-card {
  margin-bottom: 16px;
  border-radius: 12px;
  overflow: hidden;
} 


.recipe-image {
  width: 100%;
  height: 320px;            
  object-fit: cover;        
  display: block;
}


.card-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}