<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Recipe details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">


  <ng-container *ngIf="recipe">

    <ion-card>
      <img class="recipe-img" [src]="recipe.image" [alt]="recipe.title" />
      <ion-card-header>
        <ion-card-title>{{ recipe.title }}</ion-card-title>
      </ion-card-header>
    </ion-card>

    <h2>Ingredients</h2>

    <ion-card *ngFor="let ing of recipe.extendedIngredients">
      <img
        class="ingredient-img"
        [src]="getIngredientImageUrl(ing)"
        [alt]="ing.original"
      />

      <ion-card-content>
        <h3>{{ ing.original }}</h3>

        <p>
          {{ getIngredientAmountText(ing) }}
        </p>

      </ion-card-content>
    </ion-card>

    <h2>Instructions</h2>

    <div class="instructions">
      <ion-list>
        <ion-item *ngFor="let step of steps">
          <ion-label>
            <strong>{{ step.number }}.</strong>
            {{ step.step }}
          </ion-label>
        </ion-item>
      </ion-list>
    </div>

    <ion-card>
      <ion-card-content>
        <ion-button expand="block" color="primary" (click)="onToggleFavourite()">
          {{ isFavourite ? 'Remove from Favourites' : 'Add to Favourites' }}
        </ion-button>
      </ion-card-content>
    </ion-card>

  </ng-container>

</ion-content>