<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Favourite recipes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <p *ngIf="favourites.length === 0">
    No favourites yet.
  </p>

  <ion-list *ngIf="favourites.length > 0">
    <ion-item
      *ngFor="let fav of favourites"
      [routerLink]="['/recipe-details', fav.id]"
      button
      detail
    >
      <ion-thumbnail slot="start">
        <img [src]="fav.image" [alt]="fav.title" />
      </ion-thumbnail>

      <ion-label>
        <h2>{{ fav.title }}</h2>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>