<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Favourite recipes</ion-title>

    <ion-buttons slot="end">
    <ion-button routerLink="/home">
      <ion-icon name="home"></ion-icon>
    </ion-button>

    <ion-button routerLink="/settings">
    <ion-icon name="settings"></ion-icon>
  </ion-button>
  </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <p *ngIf="favourites.length === 0">
    No favourites yet.
  </p>

  <div class="search-results" *ngIf="favourites.length > 0">
    <app-recipe-card
      *ngFor="let fav of favourites"
      [id]="fav.id"
      [title]="fav.title"
      [image]="fav.image"
      [showRemove]="true"
      detailsLabel="DETAILS"
      (remove)="removeFavourite($event)"
    />
  </div>

</ion-content>