
.search-results {
  max-width: 500px;       
  margin: 0 auto;         
  width: 100%;
  padding: 0 12px;        
}


.recipe-card {
  margin-bottom: 16px;
  border-radius: 12px;
  overflow: hidden;
} 


.recipe-image {
  width: 100%;
  height: 320px;            
  object-fit: cover;        
  display: block;
}


ion-card-title {
  font-size: 18px;
  font-weight: 700;
} 