<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      G00439371
    </ion-title>

    <ion-buttons slot="end">

  <ion-button routerLink="/favourite">
    <ion-icon name="heart"></ion-icon>
  </ion-button>

  <ion-button routerLink="/settings">
    <ion-icon name="settings"></ion-icon>
  </ion-button>
</ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

 <ion-searchbar
    [(ngModel)]="searchQuery"
    placeholder="Enter ingredients">
  </ion-searchbar>

  <ion-button expand="block" (click)="onSearch()">
    Search
  </ion-button>


<!--Search results --> 
  <div class="search-results" *ngIf="results.length > 0">
  <ion-card
    class="recipe-card"
    *ngFor="let recipe of results"
  >
    <img src="{{ recipe.image }}" alt="{{ recipe.title }}" class="recipe-image" />

   <ion-card-header>
        <ion-card-title>{{ recipe.title }}</ion-card-title>
      </ion-card-header>

   <ion-card-content>
      <ion-button
        size="small"
        [routerLink]="['/recipe-details', recipe.id]"
      >
        DETAILS
      </ion-button>
    </ion-card-content>

  </ion-card>
</div>


</ion-content>
