<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      G00439371
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

 <ion-searchbar
    [(ngModel)]="searchQuery"
    placeholder="Enter ingredients">
  </ion-searchbar>

  <ion-button expand="block" (click)="onSearch()">
    Search
  </ion-button>


<!--Search results --> 
  <div class="search-results" *ngIf="results.length > 0">
  <ion-card
    class="recipe-card"
    *ngFor="let recipe of results"
    [routerLink]="['/recipe-details', recipe.id]"
  >
    <img src="{{ recipe.image }}" alt="{{ recipe.title }}" class="recipe-image" />

   <ion-card-header>
        <ion-card-title>{{ recipe.title }}</ion-card-title>
      </ion-card-header>

  </ion-card>
</div>

  <ion-list>
    <ion-item routerLink="/favourite">Go to Favourite</ion-item>
    <ion-item routerLink="/settings">Go to Settings</ion-item>
  </ion-list>
</ion-content>
