<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Settings</ion-title>

    <ion-buttons slot="end">
    <ion-button routerLink="/home">
      <ion-icon name="home"></ion-icon>
    </ion-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" class="ion-padding">

  <ion-item>
    <ion-label>Units</ion-label>
  </ion-item>

  <ion-segment [value]="unitSystem" (ionChange)="onUnitChange($event)">
    <ion-segment-button value="metric">
      <ion-label>Metric</ion-label>
    </ion-segment-button>

    <ion-segment-button value="us">
      <ion-label>US</ion-label>
    </ion-segment-button>
  </ion-segment>

</ion-content>
